html
	head
		title #{title}
		link( href="/bootstrap/css/bootstrap.css", rel="stylesheet")
		link(rel='stylesheet',href='/stylesheets/style2.css')
		script(src="/scripts/jquery-2.0.0.min.js")
		script(src="scripts/libgif.js")
		script(src="http://d3js.org/d3.v3.min.js")
		script(src="scripts/d3.slider.js")
		script(src="scripts/waypoints.js")

		link(rel='stylesheet',href="scripts/d3.slider.css")
		
	body
		block content